.checklist {
  padding: 10px;
  margin-bottom: 20px;
}
.checklist-header {
  border-bottom: 1px solid;
}
.checklist-header {
  .category {
    font-weight: 600;
  }
}

.checklist-radio-input {
  .help {
    margin-top: -20px;
    margin-bottom: 10px;
  }
}
